<div class="section is-size-7">
  <div class="field has-addons">
    <p class="control">
      <span class="select">
        <select [(ngModel)]="filterOption">
          <option *ngFor="let option of filterOptions">{{ option }}</option>
        </select>
      </span>
    </p>
    <p class="control is-expanded">
      <input class="input" type="text" placeholder="(CN=whatever | sAMAccountName=whatever | etc)" [(ngModel)]="searchFilter" />
    </p>
    <p class="control">
      <button class="button is-static">Base</button>
    </p>
    <p class="control">
      <input class="input" type="text" placeholder="Optional (OU=users | OU=groups | etc)" [(ngModel)]="searchBase" />
    </p>
    <p class="control">
      <button class="button is-info" (click)="search()">
        Search
      </button>
    </p>
    <p class="control">
      <button class="button" [class.is-danger]="!debug" [class.is-success]="debug" (click)="debug = !debug">
        Debug
      </button>
    </p>
  </div>
</div>
<div class="section is-size-7">
  <div class="columns">
    <div class="column is-two-fifths">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">Search Result(s)</p>
        </div>
        <div class="card-content">
          <div *ngIf="searchResult$ | async as searchResult" class="ldap-search-list">
            <div>
              <ul>
                <li *ngFor="let result of searchResult.result">
                  <a (click)="searchExact(result['dn'])">{{ result['dn'] }}</a>
                </li>
              </ul>
            </div>
            <div *ngIf="debug">
              <pre>{{ searchResult | json }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-fifths">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">Selected Record</p>
        </div>
        <div class="card-content">
          <div *ngIf="record$ | async as record">
            <button class="button is-info is-small" (click)="showAllProperties = !showAllProperties">{{ showAllProperties ? 'All' : 'Default' }} Properties</button>
            <table class="table is-fullwidth is-bordered is-striped is-hoverable is-narrow">
              <thead>
              <tr>
                <th>Key</th>
                <th>Value(s)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let property of showAllProperties ? allProperties : defaultProperties">
                <td>{{ property }}</td>
                <td>
                  <a *ngIf="isSearchExactable(getPropertyOrNull(property, record.record[0]))" (click)="searchExact(getPropertyOrNull(property, record.record[0]))">
                    {{ getPropertyOrNull(property, record.record[0]) }}
                  </a>
                  <p *ngIf="!isSearchExactable(getPropertyOrNull(property, record.record[0]))">{{ getPropertyOrNull(property, record.record[0]) }}</p>
                </td>
              </tbody>
            </table>
            <div *ngIf="record.record[0].member">
              <h1 class="heading">Members</h1>
              <ul>
                <li *ngFor="let member of record.record[0].member">
                  <a (click)="searchExact(member)">{{ member }}</a>
                </li>
              </ul>
            </div>
            <h1 class="heading">Groups</h1>
            <div *ngIf="record.memberOf">
              <ul>
                <li *ngFor="let group of record.memberOf">
                  <a (click)="searchExact(group)">{{ group }}</a>
                </li>
              </ul>
            </div>
            <div *ngIf="debug">
              <pre>{{ record | json }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


